
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Light.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
$bgligth: #FFFFFF;
@mixin font ($fz, $fw, $fs) {
    font-size: $fz;
    font-weight: $fw;
    font-style: $fs;
}
$maxWidth: 1440;
@mixin adaptive-fonts($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $addMobSize: $addSize + $addSize * 0.7;
    @media (max-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addMobSize} * ((110vw - 320px) / #{$maxWidth}));
    }
    @media (min-width: 767px) {
        font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw) / #{$maxWidth}));
    }
}

body{
    background: #F2F2F2;
    font-family: 'OpenSans', sans-serif;
    color: #3E4056;
}
.container{
    max-width: 1170px;
    margin: auto;
    position: relative;
    @media screen and (max-width: 1200px){
        width: 90%;
    }
    @media screen and (max-width: 768px){
        width: 95%;
    }
    @media screen and (max-width: 425px){
        width: 88%;
    }
    @media screen and (max-width: 320px){
        width: 85%;
    }
}
.main-wrap{
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    @media screen and (max-width: 1200px){
        flex-direction: column;
        align-items: center;
    }
    @media screen and (max-width: 700px){
        padding-top: 40px;
    }
}
.wrap-content{
    width: 66%;
    @media screen and (max-width: 1200px){
        width: 100%;
        margin-top: 20px;
    }
}
.posts-wrap{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 44px;
    @media screen and (max-width: 800px){
        margin-top: 0px;
    }
    &:nth-child(1){
        display: flex;
        span{
            @include font(16px, 600, normal);
            line-height: 22px;
        }

    }
}


